Task-3A: Please provide a similar table for your favorite 7 cities of Turkey that include their area and population.

In [2]:
import pandas as pd
import numpy as np
population_dict={"İstanbul":15840900,"Ankara":5747325,"Antalya":2619832,"Eskişehir":898369,"Bursa":3147818,"Balıkesir":1250610,"İzmir":4425789}
area_dict={"İstanbul":5462,"Ankara":25677,"Antalya":20354,"Eskişehir":14084,"Bursa":10807,"Balıkesir":14605,"İzmir":12182}

In [3]:
area = pd.Series(area_dict)
population=pd.Series(population_dict)

In [7]:
data=pd.DataFrame({"Population": population,"Area": area})
data

           Population   Area
İstanbul     15840900   5462
Ankara        5747325  25677
Antalya       2619832  20354
Eskişehir      898369  14084
Bursa         3147818  10807
Balıkesir     1250610  14605
İzmir         4425789  12182