TASK-1.2.2:
First 100 prime numbers: use for instead of while

In [10]:
def is_prime (num):
  if (num<2):
    return False
  elif (num==2):
    return True
  elif(num%2 == 0):
    return False
  for i in range(3,int(num/2),2):
    if (num%i == 0):
      return False
  return True

In [21]:
def nth_prime_number(n):  
  prime_num=[2]
  for Number in range (3, n*10):
      if len(prime_num)!=n: 
        if is_prime(Number):
          prime_num.append(Number)
  return prime_num

In [22]:
nth_prime_number(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541]

In [23]:
len(nth_prime_number(100))

100