TASK-W1-3B: Please write a piece of code to find the names and order no of the presidents with the highest and the lowest heights.

In [3]:
import pandas as pd 
import numpy as np
data = pd.read_csv("president_heights.csv")
data.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [23]:
heights= np.array(data['height(cm)'])

In [24]:
print("En uzun başkanın veri setindeki indexi:",heights.argmax())
print("En uzun başkanın veri setindeki boyu:",heights.max())
print("En uzun başkanın ismi:",data["name"][heights.argmax()])
print("En uzun başkan, Amerikanın kaçıncı Başkanıdır? ",data["order"][heights.argmax()])
print("En kısa başkanın veri setindeki indexi:",heights.argmin())
print("En kısa başkanın veri setindeki boyu:",heights.min())
print("En kısa başkanın ismi:",data["name"][heights.argmin()])
print("En kısa başkan, Amerikanın kaçıncı Başkanıdır? ",data["order"][heights.argmin()])
print("Veri Setindeki Amerikan başkanlarının ortalama boy uzunluğu :",int(heights.mean()))

En uzun başkanın veri setindeki indexi: 15
En uzun başkanın veri setindeki boyu: 193
En uzun başkanın ismi: Abraham Lincoln
En uzun başkan, Amerikanın kaçıncı Başkanıdır?  16
En kısa başkanın veri setindeki indexi: 3
En kısa başkanın veri setindeki boyu: 163
En kısa başkanın ismi: James Madison
En kısa başkan, Amerikanın kaçıncı Başkanıdır?  4
Veri Setindeki Amerikan başkanlarının ortalama boy uzunluğu : 179